@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

* {
  /* font-family: 'Source Sans Pro', sans-serif; */
  box-sizing: border-box;
  font-family: 'Vollkorn', serif;
  margin: 0;
  padding: 0;
}